:root {
  color-scheme: light;
  --white: #fbfbfe;
  --black: #1c1b22;
  --purple: #a61c3c;
  --purple-light: #de3f64;
  --yellow: #f4ac45;

  --border-radius: 1rem;
}

[data-theme="light"] {
  color-scheme: light;
  --primary-color: var(--purple);

  body {
    background-color: var(--white);
  }
}

[data-theme="dark"] {
  color-scheme: dark;
  --primary-color: var(--purple-light);

  body {
    background-color: var(--black);
  }

  a {
    color: var(--primary-color);
  }

  button {
    background-color: var(--black);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
ul {
  list-style: none;
}

button {
  border: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}
