[data-theme="light"] .nav {
  background-color: var(--white);
  outline: 0.1rem solid var(--primary-color);
}

[data-theme="dark"] .nav {
  background-color: #000;
}

.nav {
  width: 100%;
  height: fit-content;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin: auto auto auto -3rem;
  width: 100%;
}

.link {
  text-align: center;
  padding: 1rem;
}

.logoContainer {
  font-size: 1.33rem;
  font-weight: 600;
  flex-shrink: 0;
}

.button {
  justify-self: end;
  margin: 0 0 0 auto;
  flex-shrink: 0;
  width: 4rem;
  cursor: pointer;
}
